.container {
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr 2fr 1fr;
  border: 5px solid black;
  justify-content: center;
  border-radius: 5px;
  margin: auto auto;
  width: 85vw;
  max-width: 85vw;
  height: 50vw;
  max-height: 90vh;

}


.canvas {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: white;
  border: 5px solid black;
  border-radius: 25px;
  display: grid;
  padding: 3% 3%;
  overflow: hidden;
  margin: auto auto auto 10px;
  width: 40vw;
  max-width: 70vh;
  height: 40vw;
  max-height: 70vh;
  grid-template-rows: repeat(50, 1fr);
  grid-template-columns: repeat(50, 1fr);
  grid-gap: 0px;
}

.flynt {
  grid-template-columns: 25% 25% 25% 25%;
  width: 80%;
  height: 75%;
  border: 1px solid black;
  border-radius: 5px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  margin: auto;

}

.flyntColor {
  border: black solid 1px;
  border-radius: 100%;
  width: 3vw;
  max-width: 6vh;
  height: 3vw;
  max-height: 6vh;
  margin: auto;
  grid-column: 1 / 2;
}

.flyntErase {
  border: black solid 1px;
  border-radius: 100%;
  width: 3vw;
  max-width: 6vh;
  height: 3vw;
  max-height: 6vh;
  margin: auto;
  grid-column: 3 / 4;
}

.flyntColorLabel {
  grid-column: 2 / 3;
}

.flyntEraseLabel {
  grid-column: 4 / 5;
}

.pixel {
  height: 100%;
  width: 100%;
  border: 1px solid black;

}


.palette {
  display: grid;
  border: black solid 1px;
  grid-row: 1 / 3;

  grid-column: 3 / 4;

  border-radius: 5px;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin: auto;
  width: 20vw;
  max-width: 25vh;
  height: 45vw;
  max-height: 80vh;
  font-size: 1rem;
  margin: auto auto;

}


.color {
  border: black solid 1px;
  border-radius: 100%;
  width: 3vw;
  max-width: 6vh;
  height: 3vw;
  max-height: 6vh;
  margin: auto;
}

.red {
  background-color: red;
}

.darkOrange {
  background-color: darkorange;
}

.orangeRed {
  background-color: orangered;
}

.tomato {
  background-color: tomato;
}

.orange {
  background-color: orange;
}

.khaki {
  background-color: khaki;
}

.moccasin {
  background-color: moccasin;
}

.gold {
  background-color: gold;
}

.yellow {
  background-color: yellow;
}

.greenYellow{
  background-color: greenyellow;
}

.lawnGreen {
  background-color: lawngreen;
}

.mediumSeaGreen {
  background-color: mediumseagreen;
}

.green {
  background-color: green;
}

.mediumAquamarine {
  background-color: mediumaquamarine;
}

.teal {
  background-color: teal;
}

.cadetBlue {
  background-color: cadetblue;
}

.blue{
  background-color: blue;
}

.slateBlue {
  background-color: slateblue;
}

.blueViolet {
  background-color: blueviolet;
}

.indigo {
  background-color: indigo;
}

.purple {
  background-color: purple;
}

.darkViolet {
  background-color: darkviolet;
}

.darkMagenta {
  background-color: darkmagenta;
}

.magenta {
  background-color: magenta;
}

.lavender {
  background-color: lavender;
}

.lightPink {
  background-color: lightPink;
}

.coral {
  background-color: coral;
}

.burlyWood {
  background-color: burlywood;
}

.peru {
  background-color: peru;
}

.saddleBrown {
  background-color: saddlebrown;
}

.crimson {
  background-color: crimson;
}

.fireBrick {
  background-color: firebrick;
}

.lightCyan {
  background-color: lightcyan;
}

.lightSkyBlue {
  background-color: lightskyblue;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
